* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', sans-serif;
    font-size: 100%;
    }

body {
    background: #f5fadc;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #6f9d13;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: auto;
    padding: 10px;
    color: white;
}



.logo img {
    height: 70px;
}

nav a {
    color: white;
    margin: 0 15px;
    padding: 8px 8px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-btn {
    background: #46BA37;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.profile-btn:hover {
    background: #46BA37;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 12px;
    margin-top: 10px;
    z-index: 1000;
    overflow: hidden;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #1f4e8c;
}

.divider {
    height: 1px;
    background-color: #eee;
}


.profile-section {
    display: flex;
    align-items: center;
    gap: 12px;
  }

.menu-lines-dropdown {
    position: relative;
    display: inline-block;
}


.menu-lines-btn {
    border: 2px solid #b6cf04;
    background: #d9fd90; 
    color: black;
    width: 45px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.menu-lines-btn:hover {
    background-color: #d8c7a3;
}


.profile-btn {
    background: #d9fd90;
    border: 2px solid #b6cf04;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
}

.profile-btn:hover {
    background: #3fa332;
}


.dropdown-content {
    display: none; 
    position: absolute;
    right: 0;
    top: 120%;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border: 2px solid #000;
    border-radius: 12px;
    z-index: 1000;
    overflow: hidden;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #1f4e8c;
}

.divider {
    height: 2px;
    background-color: #000;
}


.menu-lines-dropdown.active .dropdown-content {
    display: block;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from { 
        opacity: 0; 
        transform: translateY(-10px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
    background: linear-gradient(180deg, #f5fadc 0%, #f5fadc 100%);
    position: relative;
}

.hero-text h1 {
    font-size: 2.2rem;
    color: #111;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
    color: #555;
    max-width: 400px;
    line-height: 1.5;
}

.hero-img {
  flex: 1;
  width: 100%;
  max-width: 375px; 
  height: 225px;
  object-fit: contain;
  mix-blend-mode: multiply; 
  margin-right: -20px;
  margin-top: 30px;
}

.cards {
  display: flex;
  justify-content: center; 
  padding: 30px;
  flex-wrap: wrap;
  gap: 15px; 
  margin-bottom: 20px; 
}

.card {
  width: 160px;      
  height: 200px;     
  border-radius: 100px; 
  text-align: center;
  color: #FBF2EB;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 10px; 
  transition: 0.3s;
  box-shadow: 0 15px 30px rgba(12, 12, 12, 0.1); 
  border: 2px solid rgba(255, 255, 255, 0.3);
}


.card:hover {
  transform: translateY(-8px); 
}


.card-img {
  width: 85%;        
  height: 120px;     
  object-fit: contain; 
}

.card p {
  font-size: 18px;
  margin-bottom: 5px;
}


.card-pink{
  background:linear-gradient(#ff96ab,#ff3d67);
}

.card-green{
  background:linear-gradient(#93e288,#00a71c);
}

.card-orange{
  background:linear-gradient(#fccb61,#ffa705);
}

.card-blue{
  background:linear-gradient(#7ccdff,#0ca2ff);
}

.card-gray{
  background:linear-gradient(#f7e2e2,#6b6969);
}

.fun-fact-box {
    background-color: #d5e464;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 20px;
}

.fun-fact-content {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
}

.megaphone-icon {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }
  .hero-img {
    margin-right: 0;
    max-width: 300px;
    margin-top: 20px;
  }
}

.container{
  background:#FBF2EB;
  padding:40px;
}

.about h2{
  text-align:center;
  font-size:30px;
  margin-bottom:20px;
  color:#111;
}

.about-content{
  display:flex;
  align-items:center;
  gap:30px;
}

.about-content img{
  width:300px;
}

.about-content p{
  font-size:17px;
  line-height:1.7;
  color:#222;
  text-align:justify;
}

.logo-small{
  width:60px;
  vertical-align:middle;
  margin-left:8px;
}

.work{
  margin-top:40px;
}

.title-box{
  display:flex;
  justify-content:center;
  margin-bottom:20px;
}

.title-box h3{
  background:#5f8f5d;
  color:black;
  padding:12px 30px;
  border-radius:20px;
  font-size:24px;
}

.intro{
  text-align:center;
  margin-bottom:30px;
  font-size:18px;
}

.steps{
  display:flex;
  flex-direction:column;
  gap:25px;
}

.step{
  display:flex;
  align-items:flex-start;
  gap:15px;
}

.dot{
  width:15px;
  height:15px;
  background:#4caf50;
  border-radius:50%;
  margin-top:8px;
}

.step h4{
  font-size:22px;
  margin-bottom:5px;
}

.step p{
  font-size:17px;
  line-height:1.5;
}

/* WHY */

.why{
  margin-top:40px;
}

.why-title{
  display:flex;
  justify-content:center;
  margin-bottom:25px;
}

.why-title h3{
  background:#d89b1e;
  padding:12px 40px;
  border-radius:20px;
  font-size:22px;
}

.cards{
  display:flex;
  gap:20px;
}

.card{
  flex:1;
  border-radius:12px;
  padding:20px;
  text-align:center;
  color:white;
  cursor: pointer;
}

.card h4{
  margin-bottom:10px;
  font-size:18px;
}

.card p{
  font-size:15px;
  margin-bottom:15px;
}

.card img{
  width:100px;
}

.beige{
  background:#ead9b5;
  color:black;
}

.blue{
  background:#0d4c63;
}

.green{
  background:#6b9467;
}
