*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


 body{
    background: #f0f0f0;
}


   
.about-section{
    width: 90%;
    max-width: 1400px;
    margin: 60px auto;
    text-align: center;
    padding: 0 20px;
}

.about-section h1{
    color: #081116;
    font-size: 3rem;
    font-weight: 800;
}

.about-section h1::after{
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #6F9D13;
    margin: 20px auto;
    border-radius: 10px;
}

.about-intro{
    max-width: 800px;
    margin: 20px auto 70px;
    color: #444;
    font-size: 1.15rem;
    line-height: 1.8;
}

.about-card{
    background: white;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 500px;
    box-shadow: 0 20px 50px rgba(0,0,0,.18);
    transition: .4s ease;
}

.about-card:hover{
    transform: translateY(-8px);
}

.about-text{
    width: 40%;
    padding: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.about-text ul li{
    background: #f8f8f8;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 12px;
    font-size: 1rem;
    transition: .3s;
}

.about-text ul li:hover{
    transform: translateX(8px);
    background: #eef7d8;
}

.about-text ul{
    list-style: none;
    padding-left: 0;
}

.slide-number{
    color: #6F9D13;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-text h2{
    color: #1F4D8F;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.1;
}

.about-text h2 span{
    color: #7ba12f;
}

.about-text p{
    margin-top: 25px;
    color: #666;
    font-size: 1.1rem;
    line-height: 1.8;
}

.about-image{
    width: 60%;
    height: 500px;
    overflow: hidden;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}

.about-card:hover .about-image img{
    transform: scale(1.05);
}

.colors-section{
    width: 90%;
    max-width: 1400px;
    margin: 100px auto;
    text-align: center;
}

.colors-section h2{
    color: #1F4D8F;
    font-size: 3rem;
    font-weight: 800;
}

.colors-section h2::after{
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #6F9D13;
    margin: 15px auto;
    border-radius: 10px;
}

.colors-section p{
    max-width: 750px;
    margin: 20px auto 50px;
    color: #666;
    font-size: 1.05rem;
    line-height: 1.8;
}

.colors-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 900px;
    margin: 50px auto;
    justify-items: center;
}

.color-card{
    background: white;
    width: 100%;
    max-width: 260px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: 0.3s;
}

.color-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}


.color-box{
    width: 100%;
    height: 80px;
    border-radius: 15px;
    margin-bottom: 15px;
}


.color-card h3{
    color: #1F4D8F;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.color-card span{
    color: #666;
    font-size: .85rem;
    line-height: 1.4;
}


.color1{ background:#b6cf04; } 
.color2{ background:#07e5f8; } 
.color3{ background:#00264b; } 
.color4{ background:#c44f10; } 
.color5{ background:#1e4308; } 
.color7{ background:#0283ce; } 
